@model IEnumerable<RIME.Models.Evidence>

<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/css/custom-styles.css">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
    <!-- JS
    ================================================== -->
    <script type="text/javascript" src="~/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/jquery.ticker.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.flexslider.js"></script>
</head>
<body>


    <div class="container main-container">


        <!-- Blog Content
        ================================================== -->
        <div class="row">
            <!-- Blog Posts
            ================================================== -->
            <div class="span8 blog">
                <!-- Blog Post 1 -->
                @foreach (var item in Model.Reverse())
                {
                    <article>
                        <div class="row">
                            <div class="span2 blog-style-2">
                                <h4 class="title-bg">@item.Date.ToString("dd/MM/yyyy")</h4>
                                <ul class="post-data">

                                    <li><i class="icon-user"></i> <a href="#">@item.UserName</a></li>
                                    <li><i class="icon-comment"></i> <a href="#">@item.Comments.Count</a></li>
                                    <li><i class="icon-tags"></i>
                                        @foreach (var tag in item.Tags) {

                                            <a target="_blank" href="http://google.com/search?q=@tag.TagName">@tag.TagName</a>
                                        }

                                    </li>
                                </ul>
                                @*<button class="btn btn-small btn-inverse" type="button">Read more</button>*@
                            </div>
                            <div class="span6">
                                <a href="/Blog/Evidence/@item.EvidenceId"><img src="@item.EvidencePic" alt="Post Thumb"></a>
                                <h3 class="title-bg">@Html.ActionLink(@item.Title, "Evidence", new { id = item.EvidenceId })</h3>
                                <p>@item.Content</p>
                            </div>
                        </div>
                    </article>
                }

                <!-- Pagination -->
                <div class="pagination">
                    <ul>
                        <li class="active"><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
            <!-- Blog Sidebar
            ================================================== -->
            <div class="span4 sidebar">
                <!--Search-->
                <h4 class="title-bg">Search</h4>
                <section>
                    <div class="input-append">
                        <form method="post" action="/Blog/Index/">
                            <input id="title" name="title" size="16" type="text" placeholder="Title"><button id="submit" class="btn" type="submit"><i class="icon-search"></i></button><!--<button class="btn" type="submit"><i class="icon-filter"></i></button>-->
                            <br/><input id="author" name="author" size="16" type="text" placeholder="Author">
                            <br/><input id="content" name="content" size="16" type="text" placeholder="Content">
                            <br/><input id="date" name="date" size="16" type="date" placeholder="Dates">
                        </form>
                     </div>
                </section>
                <!--Categories-->
                @*<h5 class="title-bg">Categories</h5>
                <ul class="post-category-list">
                    <li><a href="#"><i class="icon-plus-sign"></i>Design</a></li>
                    <li><a href="#"><i class="icon-plus-sign"></i>Illustration</a></li>
                    <li><a href="#"><i class="icon-plus-sign"></i>Tutorials</a></li>
                    <li><a href="#"><i class="icon-plus-sign"></i>News</a></li>
                </ul>*@
                <!--Popular Posts-->
                <h5 class="title-bg">More Posts</h5>
                <ul class="popular-posts">
                    @foreach (var post in Model.Take(3))
                    {
                        <li>
                            <a href="/Blog/Evidence/@post.EvidenceId"><img src="@post.EvidencePic" alt="Popular Post height="100" width="100"></a>
                            <h6><a href="/Blog/Evidence/@post.EvidenceId">@post.Title</a></h6>
                            <em>Posted on @post.Date.ToShortDateString()</em>
                        </li>
                    }
                    @*<li>
                        <a href="#"><img src="/img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                        <h6><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></h6>
                        <em>Posted on 09/01/15</em>
                    </li>
                    <li>
                        <a href="#"><img src="/img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                        <h6><a href="#">Nulla iaculis mattis lorem, quis gravida nunc iaculis</a></h6>
                        <em>Posted on 09/01/15</em>
                    <li>
                        <a href="#"><img src="/img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                        <h6><a href="#">Vivamus tincidunt sem eu magna varius elementum maecenas felis</a></h6>
                        <em>Posted on 09/01/15</em>
                    </li>*@
                </ul>
                <!--Tabbed Content-->
                <h5 class="title-bg">More Info</h5>
                <ul id="tweet_tab" class="nav nav-tabs">
                    <li class="active"><a href="#tweets" data-toggle="tab">Tweets</a></li>
                </ul>
                <script type="text/javascript">
                    $(function () {
                        $listContainer = $("#tweets_list");
                        $.getJSON("/Blog/GetTweets", function (result) {
                            $.each(result, function (i, field) {
                                var value = new Date(parseInt(field.CreatedAt.replace("/Date(", "").replace(")/", ""), 10));
                                var date = value.toLocaleString();
                                $listContainer.append('<li><a href="#"><i class="icon-share-alt"></i> '+ field.User.ScreenNameResponse +" </a>" + field.Text + " | " + date + " </li>");
                            });

                            $('#tweets').vTicker('init', {
                                speed: 2000,
                                pause: 1000,
                                showItems: 5,
                                padding: 4
                            });
                        });
                    });

                </script>
                <div class="tab-content">
                    <div class="tab-pane active" id="tweets">
                        <ul id="tweets_list">
                          
                        </ul>
                    </div>
                  
                </div>
                <!--Video Widget-->
                <h5 class="title-bg">Video of The Month</h5>
                <video width="370" height="208" controls>
                    <source src="/img/videos/IsraelHistory.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

    </div> <!-- End Container -->



</body>
</html>
