@model RIME.Models.SubComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EvidenceCommentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvidenceCommentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "SubCommentsEdit", new { id = Model.SubCommentId }) |
    @Html.ActionLink("Back to List", "SubCommentsIndex")
</p>
